
.open-sans-normal {
    font-family: "Open Sans", serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
  }

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 50px 200px;
}
nav > ul{
    display: flex;
    align-items: center;
    
}
nav > ul > li{
    margin-right: 20px;
}
 .nav-title{
    font-weight: 800;
    font-size: 45px;
 }
 .text_primary{
    color: #FD6E0A;
 }
 nav > ul > li {
    list-style: none;
    text-decoration: none;
}
 nav > ul > li > a{
    
    text-decoration: none;
    color: #474747;
}
.btn-primary{
    background-color: #FD6E0A;
    padding: 18px 35px;
    border-radius: 5px;
    font-size: 20px;
    border: none;
    color: white;
}

.header{
    background-image: url(images/developer.png), url(images/header_bg.png);
    background-repeat: no-repeat;
    background-position: top left, bottom right;
    margin-bottom: 130px;
}
/* banner style */
.banner{
    display: flex;
    justify-content: space-between;
    margin: 0 35px 0 200px;
}
.text-banner{
    max-width: 580px;
}
.banner-title{ 
    font-size: 50px;
    font-weight: 600px;
}
.banner-gritting{
    font-weight: bold;
    font-size: 85px;
}
.banner-image{
    width: 584px;
}
.shared-title, .skills-title{
    font-size: 35px;
    font-weight: bold;
    color: #181818;
}
.shared-description, .skills-description{
    font-size: 18px;
    color: #757575;
}
.secondary-background{
    background-color:#FFF8F3; 
}
.main-styles{
    max-width: 580px;

}
main{
    max-width: 1140px;
    margin: 0 auto;
}
/* about styles */
.about {
    border-radius: 5px;
    padding: 130px 150px;
text-align: center;
margin-bottom: 130px;
}
.about-items{
    display: flex;
    justify-content: space-around;
    
}
.item-description{
    font-size: 20px;
    font-weight: 700;
}
.skills{
    
    justify-content: space-around;
    text-align: center;
}
.skills-items{
    display: flex;
    justify-content: space-around;
    text-align: justify;
  
}
.skills-item{
    padding: 20px;
    box-shadow: 0 6px 50px 0 rgba(0, 0, 0, 0.1);
    padding: 20px;
    border-radius: 20px; /* Optional: Adds rounded corners */
    margin: 10px; 
}
.skills-titled {
    font-size: 30px;
}
.whatIDo{
    margin-top: 130px;
}
.middle{
    padding: 0 100px;
}
.education-experience{
    display: flex;
    padding: 20;
    gap: 20px;
    }
    .resume{
        text-align: center;
    }
    .resumes{
        display: block;
    margin: 20px auto;
    }
    footer>div{
        display: flex;
        gap: 100px;
        
    }
    .footer-logo{
        width: 50%;
        gap: 20px;
    }
    footer{
        background-color: #FFF8F3;
        gap: 100px;
        display: flex;
    }
    .footer-form{
        display: grid;
    }